// Custom.scss
// Bootstrap variable overrides
$myo-purple: #522b92;

$enable-shadows: true;
$enable-gradients: true;
$enable-responsive-font-sizes: true;

$body-bg: $myo-purple;
$body-color: $body-bg;

$theme-colors: (
  "ternary": red,
  "myo": $myo-purple,
);

// Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
