// Custom.scss
// Bootstrap variable overrides
$body-bg: black;
$body-color: $body-bg;

$theme-colors: (
  "myo": purple,
);

// Include all of Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";
